@model WebMarmelad.Models.CodeFirst.Production

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности о производственной линии</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Water)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Water)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Air)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Air)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" role="button" class="btn btn-primary">Редактировать</a> |
    <a asp-action="Index" role="button" class="btn btn-outline-secondary">Вернуться назад</a>
</div>
